<% provide(:title, 'Home') %>


<div class="col-md-12">
  <div class="jumbotron">
    <h1>Me by Design</h1>
    <p>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, recusandae tenetur enim odio minus atque earum eveniet quod? Reprehenderit, aperiam accusamus quis est explicabo amet error blanditiis magni eaque eveniet.
    </p>
    <p><%= link_to "Create Account", "#", class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>